<link rel="stylesheet" href="/public/css/home.css" />

<h2>Home Page</h2>
<p>Welcome to main page</p>

<nav>
  <ul>
    <li><a href="/auth/register">Signup</a></li>
    <li><a href="/auth/login">Login</a></li>
  </ul>
</nav>
