<link rel="stylesheet" href="/public/css/user-details.css" />

<h2>User Details</h2>

<div class="user-details">
  <div class="user-info">
    <span class="label">Name:</span>
    <span class="value"><%= user.name %></span>
  </div>
  <div class="user-info">
    <span class="label">Username:</span>
    <span class="value"><%= user.username.toLowerCase() %></span>
  </div>
  <div class="user-info">
    <span class="label">Email:</span>
    <span class="value"><%= user.email.toLowerCase() %></span>
  </div>
  <button id="backButton">Back</button>
</div>

<%- contentFor('script') %>
<script src="/public/js/button-click.js"></script>
