<form action="/users" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
  </div>
  <button type="submit">Create User</button>
</form>
